.gpt3__features-container__feature {
  display: flex;
  gap: 100px;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.gpt3__features-container__feature-title {
  max-width: 180px;
}
.gpt3__features-container__feature-title div {
  width: 38px;
  height: 3px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: var(--gradient-bar);
  margin-bottom: 1.5rem;
}
.gpt3__features-container__feature-title h1 {
  font-family: var(--font-family);
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.04em;
}
.gpt3__features-container__feature-text {
  max-width: 750px;
}
.gpt3__features-container__feature-text p {
  font-family: var(--font-family);
  font-size: 16px;
  color: #81afdd;
  font-weight: 200;
  line-height: 30px;
  text-align: left;
}
@media screen and (max-width: 1020px) {
  .gpt3__features-container__feature {
    gap: 50px;
  }
  .gpt3__features-container__feature-text {
    max-width: 500px;
  }
}
@media screen and (max-width: 850px) {
  .gpt3__features-container__feature {
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
  }
  .gpt3__features-container__feature-title div {
    margin-bottom: 1rem;
  }
}
