.gpt3__features {
  display: flex;
  align-items: flex-start;
  gap: 100px;
  width: 100%;
}
.gpt3__features-heading {
  display: flex;
  flex-direction: column;
  gap: 34px;
}
.gpt3__features-heading h1 {
  font-family: var(--font-family);
  font-size: 34px;
  font-weight: 800;
  line-height: 45px;
  max-width: 440px;
}
.gpt3__features-heading p {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  color: var(--color-subtext);
}
.gpt3__features-container {
  max-width: 650px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.gpt3__features-container .gpt3__features-container__feature-title {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.gpt3__features-container .gpt3__features-container__feature-title div {
  margin-bottom: 0;
}
.gpt3__features-container .gpt3__features-container__feature {
  display: flex;
  gap: 70px;
  align-items: flex-start;
}
.gpt3__features-container .gpt3__features-container__feature h1 {
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.04em;
  width: 180px;
}
.gpt3__features-container .gpt3__features-container__feature p {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
}
@media screen and (min-width:1440px) {
  .gpt3__features {
      justify-content: center;
  }
}
@media screen and (max-width: 1060px) {
  .gpt3__features {
    gap: 80px;
  }
  .gpt3__features-heading h1 {
    font-size: 30px;
    font-weight: 800;
    line-height: 42px;
    max-width: 510px;
  }
  .gpt3__features-container .gpt3__features-container__feature {
    gap: 35px;
  }
  .gpt3__features-container__feature-text {
    max-width: 500px;
  }
}

@media screen and (max-width: 960px) {
  .gpt3__features {
    flex-direction: column;
    gap: 45px;
  }
  .gpt3__features-heading{
    gap: 18px;
  }
}
@media screen and (max-width: 860px){
    .gpt3__features-container__feature-text {
        max-width: 350px;
    }
    .gpt3__features-container .gpt3__features-container__feature {
        gap: 25px;
    }
}

