.gpt3__header {
  display: flex;
  align-items: center;
  padding: 4rem 6rem;
}
.gradient__text {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;
  text-align: left;
}
.gpt3__header-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  /* margin: 4rem 2rem 0 0; */
}
.gpt3__header-content p {
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 400;
  text-align: justify;
  line-height: 28px;
  letter-spacing: -0.5px;
  color: var(--color-text);
}
.gpt3__header-content__input {
  display: flex;
  width: 100%;
}
.gpt3__header-content__input input {
  background: var(--color-blog);
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(61, 97, 132, 1);
  padding: 0.5rem 1rem;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.gpt3__header-content__input button {
  background: rgba(255, 72, 32, 1);
  padding: 0 1rem;
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  color: #fff;
  cursor: pointer;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.gpt3__header-content__people {
  display: flex;
  gap: 13px;
  align-items: center;
}
.gpt3__header-content__people img {
  width: 181.79px;
  height: 38px;
}
.gpt3__header-content__people p {
  font-family: var(--font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #fff;
}
.gpt3__header-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gpt3__header-image img {
  max-width: 680px;
  max-height: 650px;
}

@media screen and (max-width: 1050px) {
  .gpt3__header {
    flex-direction: column;
    gap: 1rem;
    padding: 4rem 4rem;
  }
  .gpt3__header-image img {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  .gpt3__header-content h1 {
    font-size: 45px;
    line-height: 60px;
  }
  .gpt3__header-content p {
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.02rem;
  }
  .gpt3__header-content__people {
    flex-direction: column;
    align-items: center;
  }
  .gpt3__header-content__input {
    justify-content: center;
  }
  .gpt3__header-content__input input,
  .gpt3__header-content__input button {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 490px) {
  .section__padding {
    padding: 2rem 2.2rem !important;
  }
  .gpt3__header-content h1 {
    font-size: 36px;
    line-height: 45px;
  }
  .gpt3__header-content p {
    font-size: 12px;
    line-height: 15px;
  }
  .gpt3__header-content__input input,
  .gpt3__header-content__input button {
    font-size: 11px;
    line-height: 14px;
  }
}
